[2020-01-18 20:49] r-brown opened #4 "Enable dependabot"
**Is your feature request related to a problem? Please describe.**
Enable dependabot

**Describe the solution you'd like**
Update project dependencies

**Describe alternatives you've considered**
N/A

**Additional context**
https://dependabot.com

[2020-01-18 22:21] r-brown opened #5 "Add "Made with GuideChimp""
**Is your feature request related to a problem? Please describe.**
Add "Made with Guide Chimp" at the bottom of every steap panel (incl. link to the project)

**Additional context**
Sample:
![image](https://user-images.githubusercontent.com/1361258/72671360-3a199480-3a49-11ea-875b-bda385c60053.png)

[2020-01-20 10:50] r-brown opened #6 "Enable Gitter.im"
**Is your feature request related to a problem? Please describe.**
Enable Gitter.im

**Additional context**
Example: https://gitter.im/stampit-org/stampit

[2020-01-20 11:06] r-brown opened #7 "Enable cdnjs"
**Is your feature request related to a problem? Please describe.**
Enable cdnjs

**Additional context**
https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#a-issue

[2020-01-20 19:18] #7 closed

[2020-01-20 19:34] r-brown commented on #4
dependabot added to the project

[2020-01-20 19:34] #4 closed

[2020-01-21 10:19] #6 closed

[2020-01-30 16:40] #5 closed

[2020-02-05 09:56] r-brown opened #11 "Bring me a Feature!"
Hacktoberfest feature challenge!
Suggest and [Pull Request](https://github.com/Labs64/GuideChimp/pulls) a new feature, which is adding great value for the GuideChimp users.

@ALL contributors
In the case of `unique->tested->accepted` feature we'll be happy to include your GitHub handle in the list of contributors on the main library page (README.md) - https://github.com/Labs64/GuideChimp

[2020-02-05 10:03] r-brown opened #12 "Support responsive design"
**Is your feature request related to a problem? Please describe.**
Tour steps should support responsive design and work on mobile devices as well.

[2020-02-05 10:05] r-brown opened #13 "Multiple elements for one step"
**Is your feature request related to a problem? Please describe.**
Enable multiple elements highlighting for the same one tour step.

**Describe the solution you'd like**
Highlight different page elements for one particular tour step.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-02-05 10:06] r-brown commented on #11
Added Support responsive design #12

[2020-02-05 10:07] r-brown commented on #11
Added #13 - _Multiple elements for one step_

[2020-02-15 18:47] kkorotkov opened #14 "Support multiple elements with the same class"
In case multiple elements exist on a page with the same style class, and in JS tour definition a step uses class selector - consider all elements, and choose the first one from visible elements (case with hidden elements, e.g. tabs, where normally only one of many with the same class is visible in every moment).

[2020-02-15 20:25] kkorotkov opened #15 "Highlighting of the target element fails"
**Describe the bug**
In case an element to be highlighted is inside container having own `z-index` + `transform` styles, highlighting fails (target stays under the highlighting box).

**To Reproduce**
HTML:
[code]

JS:
[code]

**Expected behavior**
Element at step 2 must be visible

[2020-02-15 20:27] kkorotkov commented on #15
Highlighting works as expected:
<img width="180" alt="good" src="https://user-images.githubusercontent.com/1833750/74594722-d9767b00-5039-11ea-883c-e21e82863580.png">

Highlighting fails:
<img width="190" alt="bad" src="https://user-images.githubusercontent.com/1833750/74594737-f14dff00-5039-11ea-9c02-b01b4cd30bef.png">

[2020-02-17 18:52] kkorotkov opened #16 "Placeholders in JS tour definition"
In a single-page web application, DOM most likely contains elements with dynamically generated Id (or other properties that are to be used for element selection). In such dynamic environment, static tours definition is not possible. Possible solution is to embed tours within application, so the tours are generated together with the rest of DOM, but this often may not be desirable due to number of

[2020-02-18 15:28] r-brown opened #17 "Plugin: Google Analytics events"
**Is your feature request related to a problem? Please describe.**
As a website owner, I need insides about user onboarding progress and tour bounces.

**Describe the solution you'd like**
GA Events can be used to track tour(-s) progress by sending GA event call on each tour step.
This event should contain step context information.

**Describe alternatives you've considered**
Can be implemented as

[2020-02-18 23:41] r-brown opened #18 "Fix Tour on NLIC Wiki"
https://netlicensing.io/wiki/changelog

**Source code:**

- https://github.com/Labs64/wiki/blob/master/docs/assets/js/guidechimp.js
- https://github.com/Labs64/wiki/blob/master/docs/changelog.md

[2020-02-19 10:12] r-brown commented on #18
Rendering issue
![image](https://user-images.githubusercontent.com/1361258/74824612-b8977980-5308-11ea-97ae-6e027e1bb9fa.png)

[2020-02-19 10:15] r-brown commented on #18
Rendering will be addressed within #12

[2020-02-19 10:16] #18 closed

[2020-02-21 21:29] r-brown opened #19 "Allow blurred background"

[2020-02-21 21:33] r-brown opened #20 "Allow adding custom branding (logo)"

[2020-02-21 21:51] r-brown opened #21 "Add plugin boilerplate"

[2020-02-21 21:51] r-brown opened #22 "Add plugins description"

[2020-02-21 21:51] r-brown opened #23 "Do not commit dist folder"

[2020-02-21 21:51] r-brown opened #24 "Move plugins folder to the project root folder"

[2020-02-21 21:51] r-brown opened #25 "Add media content (image, video)"

[2020-02-21 21:51] r-brown opened #26 "Show finish check button on the last step"

[2020-02-21 22:38] r-brown opened #27 "Fix single card example"
https://codepen.io/netlicensing/full/vYOLGbW

Place card in the screen center

[2020-02-22 08:00] r-brown opened #28 "Create browser extension to allow guided tours on any 3pp website"
Create a browser extension to allow guided tours on any 3pp website.
- the extension (Chrome, Firefox) fetches prepared guided tours definition from the public GitHub repo - https://github.com/Labs64/GuideChimp/tree/master/docs/tours
- if the website the visitor is currently on has a guided tour defined - indicate this on the extension icon using colours or popup
- otherwise, the icon will be grey

[2020-02-22 15:22] r-brown opened #29 "Implement WordPress plugin for Guided Tours"
**Is your feature request related to a problem? Please describe.**
Implement WordPress plugin which simplifies creation Guided Tours for wordpress websites.

**Additional context**
similat to https://wordpress.org/plugins/pluginpass-pro-plugintheme-licensing/

[2020-02-24 09:08] v-rudkovskiy opened #30 "Move plugins folder from srс folder to root"

[2020-02-25 11:03] v-rudkovskiy commented on #24
Duplicate Issue #30

Fixed in d095f40

[2020-02-25 11:46] #30 closed

[2020-02-27 14:29] v-rudkovskiy commented on #21
Commin c698847

[2020-03-01 14:49] r-brown commented on #23
@v-rudkovskiy need to discuss how to get rid of `dist` in the released artefacts path.

[2020-03-01 14:50] r-brown commented on #21
@v-rudkovskiy IMO this is too much (separate build flow) - need to be discussed.

[2020-03-01 15:51] r-brown commented on #22
How to generate ToC section: https://github.com/isaacs/github/issues/215#issuecomment-456598835

[2020-03-01 16:14] r-brown commented on #22
- Added section: https://github.com/Labs64/GuideChimp/wiki/Configure#plugins
- Plugins description moved as README.md in the corresponding plugin https://github.com/Labs64/GuideChimp/tree/master/plugins
- Plugins repository separated - https://github.com/Labs64/GuideChimp/wiki/Plugins

[2020-03-01 16:15] r-brown commented on #21
@v-rudkovskiy please always use source code license disclaimer; see example here https://github.com/Labs64/GuideChimp/blob/master/src/index.js#L7

[2020-03-02 10:51] r-brown commented on #23
Suggest to keep `dist/` folder

[2020-03-02 14:41] #12 closed

[2020-03-02 14:42] #22 closed

[2020-03-02 14:42] #24 closed

[2020-03-02 14:43] #23 closed

[2020-03-02 14:43] #27 closed

[2020-03-02 17:48] r-brown opened #31 "test 01"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-02 17:53] #31 closed

[2020-03-03 09:57] r-brown opened #32 "React.js showcase"
Showcase GuideChimp usage in the React applications.

- Use React dashboard template here https://codesandbox.io/search?query=dashboad&refinementList[template][0]=create-react-app
- Fork selected sandbox
- Add GuideChimp

[2020-03-03 09:58] r-brown commented on #32
Good templates:
- https://codesandbox.io/s/dashboard-420cz

[2020-03-09 11:57] r-brown opened #33 "Support application events (e.g. Vue.js routes)"
Move current [NetLicensing UI](https://ui.netlicensing.io/#/login?cr=ZGVtbzpkZW1v&utm_source=netlicensing.io_demo_optin&utm_medium=website&utm_campaign=netlicensing.io_demo_optin&utm_content=opt-in) customization for Vue.js as a GuideChimp plugin.

[2020-03-09 11:59] r-brown opened #34 "Python showcase"
Showcase GuideChimp usage in the Python applications.

[2020-03-13 06:31] r-brown opened #35 "Enable feedback/rating"
**Is your feature request related to a problem? Please describe.**
Feedback/Rating can be used on the last tour step to collect user feedback.

**Describe the solution you'd like**
GuideChimp user (dev) should be able:
- enable feedback plugin
- choose the style (stars, hearts, bullets)
- choose dimension; e.g. 5 or 10 stars
- define callback to be used - `onRate` event

**Describe alternatives yo

[2020-03-16 23:00] r-brown commented on #17
Added [GA plugin](https://github.com/Labs64/GuideChimp/tree/master/plugins/googleAnalytics) on NetLicensing ChangeLog page - https://netlicensing.io/wiki/changelog

[2020-03-16 23:00] #17 closed

[2020-03-16 23:01] #21 closed

[2020-03-17 05:57] r-brown commented on #28
https://developer.chrome.com/extensions/samples

[2020-03-18 18:06] r-brown commented on #28
https://github.com/FullStack-Academy-Kiev/react-chrome-extension
https://github.com/satendra02/react-chrome-extension

[2020-05-07 09:34] v-rudkovskiy opened #37 "Plugin dependencies system"
Example:
**src/index.js**

[code]

**somePlugins.js**

[code]

[2020-07-21 09:25] r-brown commented on #15
implemented

[2020-07-21 09:25] #15 closed

[2020-09-30 09:54] Coeniq opened #40 "Button with img not responding in Guidechimp"
**Button that contains an image doesn't register onclick in Guidechimp**
I am currently trying to setup Guidechimp and wanted to set a trigger to click on a Button, similar to the examples on codepen. The main difference is, that the button encapsules an image and when I click the image it doesn't register the click.
When I click on the fine border between image and buttonborder it registers, but

[2020-10-05 11:32] v-rudkovskiy commented on #40
Thanks @Coeniq , the bug has been fixed, the fix will be added to the new guidechimp version

[2020-10-05 16:19] r-brown commented on #33
Plugin documentation missing

[2020-10-05 16:20] r-brown commented on #37
Add test case

[2020-10-05 16:20] r-brown commented on #40
Add test case

[2020-10-05 16:51] giubatt commented on #32
I made a codesandbox but I'm not sure where to add it to open a PR

[2020-10-05 17:46] r-brown commented on #32
That's great @giubatt
Please add this to https://github.com/Labs64/GuideChimp#demo
We'll verify this demo and extend Wiki at https://github.com/Labs64/GuideChimp/wiki/Examples (as you might not have the permissions to edit this)

[2020-10-05 18:20] #32 closed

[2020-10-05 18:28] r-brown commented on #32
That's awesome @giubatt - thank you!!

Slightly modified readme - https://github.com/Labs64/GuideChimp#demo
... as well wiki - https://github.com/Labs64/GuideChimp/wiki/Examples

---

https://github.com/Labs64/GuideChimp/stargazers ;)

[2020-10-06 07:25] r-brown commented on #40
Test case / proof needed

[2020-10-06 07:28] r-brown commented on #33
Plugin documentation missing

[2020-10-06 07:48] v-rudkovskiy commented on #40
Test case: https://codepen.io/v-rudkovskiy/pen/oNLvqBp

[2020-10-06 09:49] #40 closed

[2020-10-06 09:51] #37 closed

[2020-10-06 10:15] Coeniq commented on #40
Thanks @v-rudkovskiy looking forward to using it.

[2020-10-07 07:39] #33 closed

[2020-10-07 15:02] r-brown commented on #28
Publish in the Chrome Web Store - https://developers.chrome.com/webstore/publish

[2020-10-08 07:11] saravananselvamohan opened #42 "Element Highlighted yet unable to interact with the element"
**Describe the bug**
We testing a Guidechimp in a custom site. With the site we able to have element highlighted as per tour steps yet unable to interact with the element.
I checked we didn't disabled interaction layer from the tour options. May I know the checks I am missing. I tested with other sites and Guidechimp flow working perfect. The issue is with my custom site

**Expected behavior**
Abl

[2020-10-08 07:28] r-brown commented on #42
Hi @saravananselvamohan would you mind to provide us with the website DOM and GuideChimp tour definition, so we can reproduce this behaviour.

Possibly CodePen would be used here to provide HTML, CSS, JS code

[2020-10-08 07:34] saravananselvamohan commented on #42
Hi @r-brown . The issue is with Salesforce developer site

[2020-10-08 07:36] r-brown commented on #42
That's would be OK (as we do have access to SF dev/prod).
In this case, may I ask you to provide more context:
- which SF component you are trying to interact with
- your tour definition

If privacy is a concern here - you can send this data directly to guidechimp@labs64.com

[2020-10-08 09:44] r-brown commented on #28
Dedicated repo for Chrome Extension created -  Labs64/GuideChimp-chrome-extension

[2020-10-08 09:45] r-brown commented on #42
In regards to loading external tours on the websites with the same-origin policy enabled (e.g. Salesforce) - we need to investigate on the permissions available in the extension.

[2020-10-08 12:13] saravananselvamohan commented on #42
@r-brown . Is there any sample documentation for onBeforeChange(), onAfterChange() as how to be used in Javascript object. It would help newcomers. If you guide me I would like to add that in documentation too,please

[2020-10-08 13:14] r-brown commented on #42
Hello @saravananselvamohan
- docu extended - https://github.com/Labs64/GuideChimp/wiki/Configure#events
- new sample added (JS events / `onBeforeChange`) - https://github.com/Labs64/GuideChimp/wiki/Examples (playground: https://codepen.io/netlicensing/full/BazaXYo)

[2020-10-08 13:28] saravananselvamohan commented on #42
@r-brown . Thanks for the ton of help. Is there any way we can prevent tour from moving to previous steps from a particular step.

[2020-10-08 13:47] r-brown commented on #42
@saravananselvamohan you can use the same `onBeforeChange` event here:
[code]

[2020-10-09 04:05] saravananselvamohan commented on #42
@r-brown . The issue is closely related to z-index value.

[2020-10-09 04:28] r-brown commented on #42
@saravananselvamohan we tested this issue on our side and changing z-index didn't have any effect. Very complex DOM / CSS structure at SalesForce forces this.

Did you manage to fix this behaviour by changing z-index?

[2020-10-09 04:31] saravananselvamohan commented on #42
We able to remove the z -index does removes overlay too. So we can interact with element. But Ideally we need to have highlighter that's still an issue

[2020-10-09 06:21] saravananselvamohan commented on #42
Is there any way, we can able to highlight the element removing overlay and interaction layer

[2020-10-09 06:24] r-brown commented on #42
@saravananselvamohan you can always add/override your own CSS styles to fix specific layouts (such as SF) - https://github.com/Labs64/GuideChimp/wiki/Configure#styling

[2020-10-09 07:18] saravananselvamohan commented on #42
Will able to resolve those issue by custom css options. Thanks for the help @r-brown. Would like to close the issue

[2020-10-09 07:18] #42 closed

[2020-10-12 08:39] yushkevich opened #43 "MultiPage issue with several guide tours."
**Describe the bug**
In case if we have several **guide tours** throw application and these tours have intersecting pages we have the issue.

Becouse
`const storageKey = 'GUIDECHIMP_MULTIPAGE_STEP';`
don't have unique key for each **tour**.

**To Reproduce**
Steps to reproduce the behavior:
1. Implement a few tours throw application using the MultiPage plugin.

**Expected behavior**
The current **

[2020-10-12 09:09] yushkevich opened #44 "IE11 bugs"
**Describe the bug**
There are a few IE11 visualization issues.
1. Modal window is not centered.
2. Arrows are invisible.

![2020-10-12_12-04-54](https://user-images.githubusercontent.com/3961540/95728019-a6958d00-0c83-11eb-8022-9c4f54a7c330.png)

**Desktop (please complete the following information):**
 - Browser IE11

[2020-10-12 13:42] r-brown commented on #43
This fix will be assigned to the next library release

[2020-10-23 11:12] v-rudkovskiy commented on #19
PR: https://github.com/Labs64/GuideChimp/pull/46

[2020-10-29 07:38] yushkevich commented on #44
Hello @r-brown
Any updates here?

[2020-10-29 07:47] r-brown commented on #44
- End support for Internet Explorer 11 scheduled on _August 17th, 2021_
- Browser usage stats is [less than 2%](https://en.wikipedia.org/wiki/Usage_share_of_web_browsers)

=> ticket will be closed

[2020-10-29 07:47] #44 closed

[2020-11-05 15:16] r-brown commented on #42
Hello @saravananselvamohan ,

Coming back to the above discussion I wanted to inform you that we released and published first version of [GuideChimp Chrome Extension](https://chrome.google.com/webstore/detail/guidechimp-chrome-extensi/afecedbgkfoijeligfjflidfddndnjng).

With this extension you guided tour can be enabled on any website with no-coding effort.
The tours definitions for public website

[2020-11-09 06:06] r-brown opened #51 "Expandable menu wrong highlighting"
**Describe the bug**
In the case of the (left nav) expandable menu, the highlighting is correct if the main menu item collapsed.
In case the menu is expanded, the highlighted area positioned wrongly.

**To Reproduce**
Use any collapsible menu structure to reproduce.

**Expected behavior**
Element highlighting placed correctly.

[2020-11-09 06:08] r-brown commented on #28
GuideChimp Chrome Extension (v0.0.1) published and approved - https://chrome.google.com/webstore/detail/guidechimp-chrome-extensi/afecedbgkfoijeligfjflidfddndnjng

[2020-11-09 06:08] #28 closed

[2020-11-09 15:20] v-rudkovskiy commented on #51
PR: https://github.com/Labs64/GuideChimp/pull/52

[2020-11-09 15:23] #51 closed

[2020-11-10 12:59] r-brown commented on #25
Add article / how to

[2020-11-10 13:02] r-brown commented on #35
See  _Embedded Microsoft Forms Survey_ - https://codepen.io/netlicensing/full/wvWEmpq

[2020-11-10 13:02] #35 closed

[2020-11-10 16:04] r-brown commented on #25
`description` parameter in the tour definition accepts HTML elements; so any HTML structure can be used to embed video, images, etc. content.

Check out following [examples](https://github.com/Labs64/GuideChimp/wiki/Examples):
- **Embedded Video** - https://codepen.io/netlicensing/full/vYOLGbW
- **Embedded Microsoft Forms Survey** - https://codepen.io/netlicensing/full/wvWEmpq

[2020-11-10 16:04] #25 closed

[2020-11-11 08:04] v-rudkovskiy opened #53 "Lazy-loading plugin"

[2020-11-11 09:37] v-rudkovskiy commented on #53
PR: https://github.com/Labs64/GuideChimp/pull/54

[2020-11-11 09:40] #53 closed

[2020-11-12 06:30] r-brown opened #55 "Visibility of a highlighted element"
The content of the highlighted area is not readable enough then.

[2020-11-12 07:12] #34 closed

[2020-11-12 07:14] #20 closed

[2020-11-12 07:14] #19 closed

[2020-11-12 13:58] v-rudkovskiy commented on #16
PR: https://github.com/Labs64/GuideChimp/pull/56

[2020-11-12 14:02] #16 closed

[2020-11-12 16:27] v-rudkovskiy commented on #16
PR: https://github.com/Labs64/GuideChimp/pull/57

[2020-11-12 17:14] r-brown commented on #16
[Placeholders](https://github.com/Labs64/GuideChimp/tree/master/plugins/placeholders) plugin - Use dynamic placeholders in the tour definition.

[2020-11-12 17:15] r-brown commented on #53
[Lazy-loading](https://github.com/Labs64/GuideChimp/tree/master/plugins/lazyLoading) plugin - Wait for lazy-loaded or delayed elements on the page before showing related tour step.

[2020-11-14 20:42] eeddaann opened #58 "Add source code for the chrome extension"
First of all the idea of making the chrome extension is brilliant!
However it would be better if you could host the tours on your own and don't be dependent on third party...
I have tried to unpack the extension and "hack" it to look for "tours" definitions in a different URL then the hardcoded one...
it worked but it would be better if you could add the source code for the extension :)

[2020-11-15 07:56] r-brown commented on #58
Hello @eeddaann thank you for your interest to [GuideChimp Chrome Extension](https://chrome.google.com/webstore/detail/guidechimp-chrome-extensi/afecedbgkfoijeligfjflidfddndnjng)!

As of now we do no plan do disclose extension source code.
However, we plan to extend functionality here; e.g. individual enabling of [GuideChimp plugins](https://github.com/Labs64/GuideChimp/wiki/Plugins) as well as in

[2020-11-15 08:00] r-brown commented on #58
As of now we plan to keep the tours in one central [tours repository,](https://github.com/Labs64/GuideChimp/tree/master/docs/guidechimp/tours) so these are available for the GuideChimp community.

[2020-11-15 08:05] r-brown opened #59 "IFrames support"
**Is your feature request related to a problem? Please describe.**
Add IFrames support in the GuideChimp

**Describe the solution you'd like**
Introduce a new plugin which will allow specify and highlight elements in the IFrame.
Pay attention to the tool-tip position if the element in the iframe will be highlighted.

[2020-11-15 20:02] eeddaann commented on #58
Thanks for the fast response!
a possible implementation may based on [this example](https://developer.chrome.com/extensions/options)

I really liked your idea of putting the configs in github since it's makes the tours versioned out-of-the-box.
however I've noticed that the extension looks for the tours at: ```https://www.labs64.com/guidechimp/tours``` and not on github.

In addition we should thi

[2020-11-15 21:23] r-brown commented on #58
Path `https://www.labs64.com/guidechimp/tours` is the forward for `https://github.com/Labs64/GuideChimp/tree/master/docs/guidechimp/tours`
So, every public tour at GitHub will be resolved as well; e.g.
https://github.com/Labs64/GuideChimp/tree/master/docs/guidechimp/tours/netlicensing.io.json
https://www.labs64.com/guidechimp/tours/netlicensing.io.json

[2020-11-30 07:57] r-brown opened #60 "Lazy-loading plugin if no element defined at all"
**Is your feature request related to a problem? Please describe.**
[Lazy-loading](https://github.com/Labs64/GuideChimp/tree/master/plugins/lazyLoading) plugin should not be effective for one particular step, if no element defined.

**Describe the solution you'd like**

In the below example (with enabled `Lazy-loading` plugin), the first step should wait for an element, and the second not and appea

[2020-11-30 08:02] v-rudkovskiy commented on #60
I've already done it in the previous version, see https://github.com/Labs64/GuideChimp/blob/f9b35af0fcb5d81fe58669863803712379d6ce9d/plugins/lazyLoading/index.js#L27

[2020-11-30 08:33] r-brown commented on #60
Fixed in the release [2.4.2](https://github.com/Labs64/GuideChimp/releases/tag/2.4.2)
Dependent [GuideChimp Chrome Extension](https://chrome.google.com/webstore/detail/guidechimp-chrome-extensi/afecedbgkfoijeligfjflidfddndnjng) updated to the above version.

[2020-11-30 08:33] #60 closed

[2020-12-02 08:23] v-rudkovskiy commented on #59
PR: https://github.com/Labs64/GuideChimp/pull/61

[2020-12-02 08:31] #59 closed

[2020-12-08 05:30] r-brown opened #62 "GuideChimp doesn't start if step index is greater than steps number"
**Describe the bug**
GuideChimp doesn't start if step index is greater than steps number.

**To Reproduce**
Steps to reproduce the behavior:
1. Define 2 steps in the tour
2. Set start step as 0 or 1 => works
[code]
3. Set start step as 2 => dosn't work
[code]

**Expected behavior**
At least last step should be opened (e.g. - 1)

[2020-12-15 21:35] r-brown opened #66 "IFrame plugin: Nested HTML table throws an error"
**Describe the bug**
IFrame plugin: Nested HTML table throws an error in most of the browsers; e.g. Chrome, Safari

**To Reproduce**
Test https://io.labs64.com/iframe0.html with the different browsers.

[2020-12-17 07:03] r-brown opened #67 "Improve step bullts visuals"
<img width="631" alt="Screenshot 2020-12-17 at 08 00 02" src="https://user-images.githubusercontent.com/1361258/102454392-3a962300-403e-11eb-9833-bc577151cb16.png">

In the case of many (e.g. more than 15-20) tour steps, the layout is broken and need to be improved.

See example here: https://netlicensing.io/?guidechimp=on&tour=advent-calendar-2020

[2020-12-17 08:53] v-rudkovskiy commented on #66
PR: https://github.com/Labs64/GuideChimp/pull/68
PR: https://github.com/Labs64/GuideChimp-plugins/pull/3

[2020-12-17 09:27] #66 closed

[2020-12-31 14:05] r-brown opened #70 "JavaScript events plugin doesn't work (v3.x)"
**Describe the bug**
https://codepen.io/netlicensing/pen/BazaXYo

[2020-12-31 14:06] r-brown opened #71 "HTML configuration example doesn't work (v3.x)"
**Describe the bug**
https://codepen.io/netlicensing/pen/RwPwRNw

[2020-12-31 14:12] r-brown opened #72 "Triggers plugin doesn't work (v3.x)"
**Describe the bug**
https://codepen.io/netlicensing/pen/PoPawdv

[2021-01-04 10:17] v-rudkovskiy commented on #70
Object "fromStep" at the first step in the version(> 3.0) instead of an empty object will be null. So you need to check formStep for null.

Change example:
from
[code]

to
[code]

[2021-01-04 10:29] v-rudkovskiy commented on #71
PR: https://github.com/Labs64/GuideChimp/pull/74

[2021-01-04 10:34] #71 closed

[2021-01-04 10:37] #70 closed

[2021-01-04 10:47] v-rudkovskiy commented on #72
![Screenshot_2](https://user-images.githubusercontent.com/3775910/103527280-2736e480-4e93-11eb-9df0-b5c773d70e1e.png)

You need to add a closing tag </script>  on 2 line after "licensing.js"

[2021-01-04 10:49] #72 closed

[2021-01-04 10:49] r-brown commented on #72
works :)

[2021-01-04 14:23] r-brown opened #75 "Placeholders plugin doesn't work with v3.x"
**Describe the bug**
CodePen example: https://codepen.io/netlicensing/pen/GRqPxrL

Used customer number: `guidechimp-demo@labs64.com`
Plan: `Commercial`

[2021-01-04 16:02] r-brown commented on #75
Due to the jsDelivr cache different versions of GC & Plugins have been loaded.

[2021-01-04 16:02] #75 closed

[2021-01-24 13:35] kkorotkov opened #81 "Pricing table mobile rendering"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1833750/105631924-202b4280-5e51-11eb-8e63-06b595e41f52.png)

**To Reproduce**
Steps to reproduce the behavior:
1. From the mobile
2. Open https://www.labs64.com/guidechimp/
3. Scroll the bottom of the page

**Expected behavior**
Rendering similar to https://netlicensing.io/pricing/

[2021-03-03 08:52] r-brown opened #83 "Nested DIV i IMG elements cannot be found in the TABLE"
**Describe the bug**
Nested DIV i IMG elements cannot be found in the TABLE
Test page: https://io.labs64.com/guidechimp-iframe-plugin/

**To Reproduce**
Define HTML table as follows:
[code]

and corresponding tour definition:
[code]

Two last elements cannot be found.

[2021-03-03 08:56] r-brown opened #84 "Expanded nav menue isn't highlighted properly"
**Describe the bug**
Expanded nav menue isn't highlighted properly.

**To Reproduce**
Nav menu HTML structure:
[code]

[2021-03-04 10:17] v-rudkovskiy commented on #83
You have an unnecessary '#' symbols.
![Screenshot_1](https://user-images.githubusercontent.com/3775910/109948982-84a8af80-7ce3-11eb-9134-c8f06491468a.png)

[2021-03-04 11:07] #83 closed

[2021-03-05 08:26] r-brown opened #85 "Allow overriding scrollPadding for a single step"
Allow overriding scrollPadding for a single step
e.g.
[code]

[2021-03-05 08:27] r-brown commented on #85
fixes #84

[2021-03-05 08:28] r-brown commented on #84
will be fixed by #85

[2021-03-05 08:28] #84 closed

[2021-03-05 08:29] r-brown opened #86 "Improve element scrolling behaviour"
Improve element scrolling behaviour

[2021-03-05 08:30] r-brown commented on #86
continues #84, #85

[2021-03-05 08:45] v-rudkovskiy commented on #85
PR: https://github.com/Labs64/GuideChimp/pull/87

[2021-03-05 08:59] #85 closed

[2021-03-12 05:16] r-brown opened #91 "Improve insufficiend domains count message"
Given following scenario:
- [GiudeChimp commercial plugin](https://www.labs64.com/guidechimp/#guidechimp-licensing) is enabled in customer profile
- There are no free domains available
- ... or current domain (where GuideChimp is running) exceeding available domains count

following message appears:
`GuideChimp [IFRAMES-PLUGIN]: this plugin is not enabled for your customer profile; see also https:

[2021-03-12 09:37] v-rudkovskiy commented on #91
PR: https://github.com/Labs64/GuideChimp-plugins/pull/8

[2021-03-12 10:39] #91 closed

[2021-04-23 11:40] tyagirajat200 opened #95 "Guidechimp licensing plugin not working"
**Describe the bug**
Purchased Guidechimp license to remove Attribution and to use commercial plugins. but when I start the tour or changes any step I got the errors. please find attached screenshots.

**To Reproduce**
Import Modules
Steps to reproduce the behavior:
import licensing from 'guidechimp/dist/plugins/licensing';
import removeAttribution from 'guidechimp/dist/plugins/removeAttribution';

[2021-04-23 12:26] r-brown commented on #95
Hello @tyagirajat200 apologies for that, the issue is related to the License Management provider and fixed now.
Would you mind to try it again?

[2021-04-23 12:47] tyagirajat200 commented on #95
working now. thank you

[2021-04-23 12:47] #95 closed

[2021-04-23 15:59] tyagirajat200 opened #96 "Is there a way to distinguish between tour closed by user or closed by programmatically when listening 'onStop' events."

[2021-04-26 13:15] ionstudio opened #97 "Element highlight problem"
Hey! Such a problem, there is a strange background in the left menu and nothing is visible. We tried to do something with CSS styles, but without results.

Normal.
![1](https://user-images.githubusercontent.com/20832474/116088377-0279ad80-a6cc-11eb-8af7-32ea77ea5a76.png)

Element highlighting problem.
![2](https://user-images.githubusercontent.com/20832474/116088381-03aada80-a6cc-11eb-9487-c5a1561

[2021-04-26 13:18] ionstudio commented on #55
Did you solve the problem?

[2021-04-26 13:33] v-rudkovskiy commented on #96
The stop method is called only after user actions: closing the tour with a cross, clicking on the overlay, pressing the escape key, so all calls to the stop event are due to the user.

[2021-04-26 13:37] v-rudkovskiy commented on #97
Hello @ionstudio. Can you provide more information on the layout and styles of your left menu, or provide a link where I can see this myself?

[2021-04-26 13:42] ionstudio commented on #97
https://wbtest.pro/dashboard/
test@test.test
Jd83nd!d9

[2021-04-26 14:10] tyagirajat200 commented on #96
if i call guidechimp.stop() then also stop event triggers

[2021-04-26 14:46] tyagirajat200 commented on #97
Hello @ionstudio  @v-rudkovskiy . I am aware about this issue. this happens when your element or it's parent element have any animation or transform property .

[2021-04-27 10:38] ionstudio commented on #97
The same thing happens with the top menu that is fixed.

![Безымянный](https://user-images.githubusercontent.com/20832474/116228291-4c6f9b80-a77f-11eb-95a6-7ac85879ce04.png)

[2021-04-27 13:23] v-rudkovskiy commented on #96
PR: https://github.com/Labs64/GuideChimp/pull/98
Added the ability to pass context to the onStop, onPrevious and onNext events in the stop, previous and next methods. In addition, the event object that the user called to close the tour is now passed as the context.

You can based on event property in context, example:
[code]

Or add your property to the context:
[code]

[2021-04-27 13:29] r-brown commented on #97
Hello @ionstudio - thank you for reporting this element highlighting issue. Indeed, there might be some conflicting CSS background colours. We'll try to address this with the next GuideChimp release.

[2021-04-27 14:15] tyagirajat200 commented on #96
Awesome

[2021-04-27 14:15] #96 closed

[2021-04-27 14:30] tyagirajat200 opened #100 "Request to add below mentioned features"
1. Adding custom class to each step tooltip is required to make the next or previous button disable until certain conditions satisfied.(Note:- this  is required in my product)
2. Allow to hide navigation buttons for a tour like (showButtons : false in options object).
3. Add new positions type like bottom-left , top-left , center etc... wrt element

[2021-04-27 14:35] tyagirajat200 commented on #97
![Capture](https://user-images.githubusercontent.com/40917672/116259902-dc1f4500-a793-11eb-8ac2-581395fb1aa5.PNG)
Got the same issue today again to fix this I have to disable the animation.

[2021-04-27 14:57] r-brown commented on #96
Just release v3.3.0 which is including this change: https://github.com/Labs64/GuideChimp/releases/tag/3.3.0

[2021-04-29 06:38] r-brown commented on #96
Documentation updated: https://github.com/Labs64/GuideChimp/wiki/Configure#methods

[2021-04-29 13:10] gabrielstuff opened #101 "Guidechimp can't be imported from skypack"
The library won't import from skypack cdn

**To Reproduce**
Steps to reproduce the behavior:
1. include guidechimp from skypack : https://cdn.skypack.dev/guidechimp
2. see the errors :

[code]

**Expected behavior**
Library should load from Skypack

**Additional context**
While trying to debug a more complex problem, I've tried to isolate the issue and loading simple guidechimp page. Unfortunately

[2021-05-19 11:31] iparker opened #105 "Error with VueRoute when jump to other route/page"
Hello,

I trie to use GuideChimp inside a vue-nuxt-application.

I created a plugin for this and integrate this plugin in nuxt.config:

[code]

This is working: I can trigger a demo tour and the steps  are displayed correctly.

But when I reach the step where I want to jump to anotuer page/route (I do this with route: this.localePath({name: 'myData'})) I get the following error (on the next page -

[2021-05-20 09:59] v-rudkovskiy commented on #105
Hello @iparker , can you tell me which version of GuideChimp you are using?

[2021-05-20 11:32] #55 closed

[2021-05-20 11:32] #67 closed

[2021-05-20 11:32] #97 closed

[2021-05-20 11:32] #100 closed

[2021-05-20 11:53] #101 closed

[2021-05-20 18:14] iparker commented on #105
Thanks for your reply. I use GuideChimp in Version v3.3.0 and VueRouter-Plugin also in v3.3.0.

Or do you mean which version of vue router I use?

[2021-05-20 19:20] r-brown opened #108 "Contitional move to the next step"
I am currently trying to have Guidechimp test whether a highlighted field (e.g. an input / text field) contains certain (or any) information before proceeding to the next step.

Example:
The customer number text field is highlighted and entered as an element in Step 3. I only want to proceed to the next step, i.e. Step4, when the user has entered something for the customer number.

Could we get an

[2021-05-20 19:22] r-brown commented on #108
["Conditional next step"](https://codepen.io/netlicensing/full/MWpJvpd) example implements two functions to:
- move to the next step once data entered in the input filed
- prevent moving to the next step in no data available in the input field

[2021-05-20 19:22] #108 closed

[2021-05-24 19:20] joshberg opened #109 "Conflict with SweetAlert2"
**Describe the bug**
GuideChimp will not draw the modal overtop the SweetAlert2 modal; however, the element on the SweetAlert2 modal is highlighted properly.

**Screenshots**
![guidechimp_swal2-1](https://user-images.githubusercontent.com/7742454/119396888-14367c80-bc9b-11eb-8a37-18e7ea627c2d.png)
![guidechimp_swal2-2](https://user-images.githubusercontent.com/7742454/119396882-139de600-bc9b-11eb-

[2021-05-27 12:50] v-rudkovskiy commented on #105
Hello @iparker , unfortunately  but I cannot repeat the problem. The only point where this error can occur is at the line...
[code]
Could you please check what router.push (route) returns.

[2021-05-28 10:05] iparker commented on #105
Thanks for your reply. The router.push(route) returns an undefined. I also logged router.push in another component and this also returned undefined.

I tried to return just "return router.push(route);" without the catch-part in vueRouter.js. In this case I don't get the mentioned error but the selected element on the new page is wrong. Hard to explain the behaviour - there is a second selected ele

[2021-05-28 11:15] v-rudkovskiy commented on #105
@iparker Could you please check if your application supports Promise? If you look at the vue-router [code](https://github.com/vuejs/vue-router/blob/dev/src/index.js#L167), you can see that it returns a promise if only the environment supports it. For GuideChimp to work properly, you need your app to support Promises.

[2021-05-28 11:48] v-rudkovskiy commented on #109
Hello @joshberg , can you tell me which version of GuideChimp and sweetAlert2 you are using?

No issues were found on Guidechimp v. 4.0 and sweetAlert2 v. 11.

Here is my code:

[code]
And this result I have:

![Screenshot_3](https://user-images.githubusercontent.com/3775910/119979477-b324e680-bfc3-11eb-8484-933996c4b9ea.png)

[2021-05-28 13:23] joshberg commented on #109
I am using GuideChimp 4.0 and SweetAlert2 6.4.2. Unfortunately there are a lot of breaking changes that keep us from updating to the latest version of SweetAlert2.

Here is my snippet that is responsible. The tour starts before the SweetAlert2 is displayed which is why I am using the lazy load plugin.

[code]

[2021-05-28 14:02] iparker commented on #105
Thanks for your reply. Yes, our app uses promises everywhere. Think nuxt doesn't work without promises...

I just found this: https://github.com/nuxt/nuxt.js/issues/6951#issuecomment-729266427

Seems that nuxt doesn't use promises. So guidechimp will not work with nuxt? Or do you see another way?

[2021-05-31 11:33] v-rudkovskiy commented on #105
@iparker I added the [pull request](https://github.com/Labs64/GuideChimp/pull/110) that fixed the problem with the nuxt framework. Soon it will be in the next version of GuideChimp.

[2021-05-31 11:36] #105 closed

[2021-05-31 11:51] iparker commented on #105
Great - I'm happy to check the next version!

[2021-05-31 11:57] v-rudkovskiy commented on #109
@joshberg  Hello, we are not able to reproduce this issue with older version of sweetAlert v6 as the documentation fo this version isn’t available public.
Any chance you could share documentation of test environment to investigate this issue?

[2021-06-01 08:22] iparker commented on #105
I just updated to new version 4.0.2 and it's working now.

Unfortunately I have another error/problem with the selected/highlighted element but I will create a new issue for this.

[2021-06-01 08:32] iparker opened #112 "Problem with selected/highlighted element"
Hello,

after solving my problem with vueRouter in a nuxt application with issue https://github.com/Labs64/GuideChimp/issues/105 I now have a problem with the selected/highlighted element.

Unfortunately it's hard to describe this behaviour.

In some cases is not the right element is select. Seems like the whole height of the browser/window is selected instead. Or that that selected/hightlighted e

[2021-06-01 09:10] v-rudkovskiy commented on #112
@iparker To help you please provide  the structure of html, css and the definition of the tour.

[2021-06-01 09:39] iparker commented on #112
Thanks for your reply.

My test tour definition is:

[code]

This code comes from mouted() of a vue component.

I don't know how to provide html/css structure to you. I'm not able to do this.

[2021-06-01 09:56] v-rudkovskiy opened #113 "No progress bar is displayed"
![Screenshot_1](https://user-images.githubusercontent.com/3775910/120304721-b5938300-c2d8-11eb-9515-538b1994e7ee.png)

[2021-06-01 10:00] v-rudkovskiy commented on #113
PR: https://github.com/Labs64/GuideChimp/pull/114

[2021-06-01 10:14] v-rudkovskiy commented on #112
@iparker The tour definition looks fine.

If you not abble provide html/css, could you provide:
- screenshot of issue
- data to the getBoundingClientRect() function for the highlighted element and copy the html structure of the .svg-overlay element.

[2021-06-01 10:56] iparker commented on #112
Again thanks for your reply. Hope this input will help you.

![guidechimp_screen](https://user-images.githubusercontent.com/2860486/120311598-f939bd00-c2d7-11eb-9409-5e6001c7a245.png)

[code]

Sorry I don't know how to give you the data to the getBoundingClientRect() function for the highlighted element. Maybe you can tell me to get this?

[2021-06-01 10:59] #113 closed

[2021-06-01 11:03] r-brown commented on #112
@iparker is this a public website? So you could simply provide us the link here or via email at guidechimp@labs64.de

[2021-06-01 11:06] iparker commented on #112
No sorry - the website is not public but only on my localhost.

[2021-06-01 12:39] v-rudkovskiy commented on #112
@iparker
To get data from getBoundingClientRect () you need to execute the code(GuideChimp must be started):
[code]
Based on the svg path, I don't see it drawing two squares, run the below code(GuideChimp must be started), it should be 1
[code]

[2021-06-01 12:48] iparker commented on #112
Thanks for your reply. Here is the feedback.

document.querySelector('.gc-highlight').getBoundingClientRect():

DOMRect {x: 465.15557861328125, y: 692.6333618164062, width: 765.9888916015625, height: 621.1111450195312, top: 692.6333618164062, …}
bottom: 1313.7445068359375
height: 621.1111450195312
left: 465.15557861328125
right: 1231.1444702148438
top: 692.6333618164062
width: 765.9888916015625
x:

[2021-06-01 13:05] v-rudkovskiy commented on #112
@iparker Have you tried opening in a different browser and do you have the ability to place this page in the public domain, for example, in the codepen?

[2021-06-01 13:14] iparker commented on #112
You are right - I don't have this double-square-error in firefox. Damn...

Unfortunately I can't place the page on a public domain.

[2021-06-01 13:48] v-rudkovskiy commented on #112
I suspect this may be a browser bug...

[2021-06-01 19:19] iparker commented on #112
Hello,

I just installed Chrome (Version 91.0.4472.77 (Offizieller Build) (64-Bit)) but I have the same issue in this browser version.

Best regards,

Timo

[2021-06-02 14:42] v-rudkovskiy commented on #112
@iparker  You were right in chrome there were problems with the animate when scrolling and moving from a step with an element to a step without an element.

PR that fix it: https://github.com/Labs64/GuideChimp/pull/115

This fix will be in a new version soon. Please write if this fix helped you.

[2021-06-02 15:09] #112 closed

[2021-06-03 08:49] r-brown commented on #112
Fix added to the release [4.0.3](https://github.com/Labs64/GuideChimp/releases/tag/4.0.3)

[2021-06-03 12:40] iparker commented on #112
Thanks for your fix and the update. With update to version 4.0.3 the problem with the duplication is solved.

It just seems that sometimes the selected area is too small and cropped on the right side.

[2021-06-07 12:58] joshberg commented on #109
I can give the sweetalert2 files that we have in the project. I cannot release the other parts. Basically, I have list of divs contained in a div. When the user clicks on a specific div called out in the tour, it opens up a list of more divs (i.e. their favorites). The user performs an action on their favorites (long click) and a swal opens. The tour steps should display on their but they do not.

[2021-06-09 12:52] v-rudkovskiy commented on #109
@joshberg I didn't find the css file in your zip archive. Is this a public website? Could you provide us the link here or via email at guidechimp@labs64.de

[2021-06-09 13:24] joshberg commented on #109
Sorry about that. I do have a work around that is working for me. I modified the css line on GuideChimp from fixed to absolute:
[code]
Granted it is not the best solution because I don't know what else will break, it is at least a workable solution so that I can move forward. Here is the CSS for that version of sweetalert2. Thank you for your help.
[sweetalert2.zip](https://github.com/Labs64/Guide

[2021-06-10 10:57] v-rudkovskiy commented on #109
@joshberg I do not recommend that you change the styles of this class, otherwise the tour display may contain errors in some cases, I think you should pay attention to the sweetalert animation and start the tour after any animations.

I haven't got any issues with sweetalert v6 with the js and css you gave me:

[code]

![Screenshot_2](https://user-images.githubusercontent.com/3775910/121513535-9f3

[2021-06-10 11:23] v-rudkovskiy commented on #112
@iparker This might be the case if your application has an animation to display the selected item. Because the GuideChimp higlights and positions itself based on the size and position of the element, during animation, the higlighted element may have a different size and position from its original(resting) state. You can use the "onBeforeChange" event listener to wait for the animation to complete.

[2021-06-10 12:27] joshberg commented on #109
Unfortunately the sweet alert opens after the tour is going. It is part of the sequence... Is there a way to force the tour step to redraw? I could perhaps call the step to redraw after the alert is opened.

[2021-06-10 12:52] v-rudkovskiy commented on #109
You can use the onBeforeChange event listener to delay the step:

[code]

or if you whant to redraw use "refresh" function:

[code]

[2021-06-10 13:27] joshberg commented on #109
I attempted both of those... They did not work for me. I ended up doing this.
[code]

Still not the best, but visually it looks good and it does not modify the libraries at all. I'll consider this issue closed as we exhausted all avenues and I am content with my solution.

[2021-06-10 13:27] #109 closed

[2021-06-14 18:22] joshberg opened #116 "Licensing works on localhost with HTTP/HTTPS but will not work on server using HTTP"
**Describe the bug**
The licensing plugin does not seem to function properly using HTTP on my production server. It just hangs.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to access guidechimp on a server through HTTP instead of HTTPS

**Expected behavior**
I expected it to function the same in my production environment as it did in my dev environment.

**Screenshots**
![image](https

[2021-06-15 10:14] v-rudkovskiy commented on #116
Hello @joshberg

In the licensing module we use [WebCrypto API](https://www.chromium.org/blink/webcrypto), access to the [WebCrypto API](https://www.chromium.org/blink/webcrypto) is restricted to "[secure origins](https://www.chromium.org/Home/chromium-security/prefer-secure-origins-for-powerful-new-features)" and crypto.subtle is supposed to be undefined in insecure contexts.

“[Secure origins](h

[2021-06-15 12:39] joshberg commented on #116
It is an internal only web application. There is no access from the outside internet. I am in the process of converting it to https because of incompatibilities like these. Thank you for explanation.

[2021-06-15 12:39] #116 closed

[2021-06-22 14:18] joshberg opened #118 "Labs64 contact us form"
I apologize for reaching out on here but I have not been able to get a hold of anyone through the contact form or through info@labs64.com.

**Describe the bug**
It appears the contact form on the labs64 page for guidechimp does not appear to be working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a request through the contact form.
2. Wait for 2 weeks for a response

**Ex

[2021-06-22 18:05] r-brown commented on #118
Hi @joshberg thank you for this notice - we'll fix the contact form.
In urgent case you can also use following emails to reach out to us:

- info@labs64.com
- guidechimp@labs64.com

[2021-06-22 19:36] r-brown commented on #118
Contact form functionality restored, all notifications will be addressed.

[2021-06-22 19:36] #118 closed

[2021-06-25 13:22] John-Gee opened #119 "Do not break tour on clicks within current box"
**Is your feature request related to a problem? Please describe.**
If I have a highlight on a div, clicking on any element within that div should not break the tour.
I have the same behavior on a select2, but there maybe that is my mistake on not doing it properly?

**Describe the solution you'd like**
Do not stop the tour if the click is on an element inside the element associated with the curren

[2021-06-25 13:27] John-Gee opened #120 "Enlarge the highlighted zone"
Apologies if that's already feasible, I could not figure it out by looking at the CSS file.

**Describe the solution you'd like**
Allow the highlighted zone to be bigger than the associated element.
Being able to specify a percentage would be enough for me, but maybe a setting for all 4 sides like with padding would make more sense? Maybe allowing to both grow and shrink would too?

Thank you!

[2021-06-26 01:43] John-Gee commented on #119
Sorry, that was my fault.

[2021-06-26 01:43] #119 closed

[2021-06-26 08:58] John-Gee commented on #119
@r-brown  Actually if you're around, I'd still appreciate knowing how to not break it with a select2 box. :)

GuideChimp is hooked to the div around the select and it works fine with a standard html select but I use select2 and there it's no good (well I use ts-select2 which is a jquery-free fork of select2, but it fails in both): I can open the select dialog fine, but the elements within it are a

[2021-06-29 07:09] v-rudkovskiy commented on #120
@John-Gee you can use the "[padding](https://github.com/Labs64/GuideChimp/wiki/Configure#options)" option, which you can set as global for each step of the tour, or in the step definition

[2021-06-29 09:46] John-Gee commented on #120
Yup, my apologies, your doc that I read, or more likely thought I did read correctly, is pretty clear about that.

(and yes it works!)

Thank you and sorry again!

[2021-06-29 09:46] #120 closed

[2021-07-04 01:46] tyagirajat200 opened #121 "How can I bind the guidechimp refrence to custom button onClick event"
**Question**
How can I bind the guidechimp refrence to custom button onClick event

[2021-07-05 16:20] tyagirajat200 opened #122 "Guidechimp attribution issue."
When I start the tour there is a attribution "Made with Guidechimp". I already have a license that says we can use it on 3 domains, I integrated the guidechimp with 2 domains and each domain has local , development , production environment I think this might be the case when I exceed the domains limit. Can you please help to avoid this attribution issue. Hoping for quick reply as this issue is ver

[2021-07-05 18:00] r-brown commented on #122
Hello @tyagirajat200
attribution isn't necessary related to the domain count - you only need to configure [Remove Attribution plugin](https://github.com/Labs64/GuideChimp/wiki/Remove-Attribution-plugin)

In regards to the domain count - we are not able to distinguish logical environments on your side (e.g. dev, prod, etc.).
The only relevant info for us is domain name and this is being counted.

I

[2021-07-06 08:04] v-rudkovskiy commented on #121
Hello @tyagirajat200 you could use [Triggers plugin](https://github.com/Labs64/GuideChimp/wiki/Triggers-plugin)

[2021-07-06 15:46] tyagirajat200 commented on #122
Mailed you the details. Please check.

[2021-07-08 06:05] #121 closed

[2021-07-08 06:11] r-brown commented on #122
still no email received - may I ask you to resend via our [contact](https://www.labs64.com/contact/) form please

[2021-07-08 06:35] tyagirajat200 commented on #122
done

[2021-07-08 06:48] tyagirajat200 commented on #122
Resend the details via contact form. We are looking forward to your earliest response.

[2021-07-08 17:40] tyagirajat200 commented on #122
Any update on this ??

[2021-07-10 18:55] #122 closed

[2021-07-10 19:24] anonymous9915 opened #123 "How can I get the context that I send on moving next step"
Question
How can I get the context that I send on moving next step like-: Guidechimp.next({programmatically : true}). I want to catch this on my before change event listener but I am not getting this. I know that I can use it on next event listener but my use case is different I have to catch it in beforeChange listener. Is it possible ??

[2021-07-11 05:18] r-brown commented on #123
**Question**
How can I get the context that I send on moving next step like-: Guidechimp.next({programmatically : true}). I want to catch this on my before change event listener but I am not getting this. I know that I can use it on next event listener but my use case is different I have to catch it in beforeChange listener. Is it possible ??

[2021-07-16 04:18] nagagopi040 opened #124 "Interaction with highlighted element is not working in angular 7"
We are using GuideChimp in angular 7. On Top of this, we are using the angular-material-fuse theme. The highlighted element is not clickable even though we configured interaction as `true`.

[2021-07-16 04:22] r-brown commented on #124
Hello @nagagopi040 please provide additional context to this issue:
- GuideChimp version and Plugins used
- sample (public) webpage with GuideChimp integrated
- GuideChimp configuration details (module and steps definition)

[2021-07-16 04:42] nagagopi040 commented on #124
- GuideChimp version: 4.0.4

- We don't have public webpage.

- Configuration:

   const options = {
      interaction: true,
      exitEscape: false,
      exitOverlay: false,
      scrollBehavior: 'smooth',
      showPagination: false,
      useKeyboard: false
    };
    GuideChimp(steps, options);

- Steps:

const steps = [{
        element: '#step-1',
        description: 'This is step 1',

[2021-07-16 04:45] r-brown commented on #124
Thank you @nagagopi040 - any chance to share webpage via email ( gudechimp@labs64.com ) or give our dev team temporary access to your environment?
As you can understand, we won't be able to troubleshot the issue without being able to see the system behavoiur.

[2021-07-16 06:31] nagagopi040 commented on #124
Here is our public link: [http://codejudge-web-dev.s3-website-us-east-1.amazonaws.com/contests/contest-demo/2366]

[2021-07-16 11:42] v-rudkovskiy opened #125 "Remove blinking animation when moving a step with an element to a step without an element"

[2021-07-16 12:10] v-rudkovskiy commented on #124
Hi @nagagopi040 There was a problem with the z-index stacking-context.

PR that fix it: #126

This fix will be in a new version soon.

[2021-07-16 12:10] v-rudkovskiy commented on #125
PR: https://github.com/Labs64/GuideChimp/pull/127

[2021-07-16 13:44] #125 closed

[2021-07-16 16:50] r-brown commented on #124
Hello @nagagopi040 - thank you for reporting this issue!
We fixed this in the latest GuideChimp release [4.0.5](https://github.com/Labs64/GuideChimp/releases/tag/4.0.5)

Would you mind to update this version on your side and test fix?

[2021-07-17 06:44] nagagopi040 commented on #124
it's working in version: 4.0.5

[2021-07-17 06:44] #124 closed

[2021-07-19 07:22] v-rudkovskiy commented on #123
Hello @anonymous9915

[code]

[2021-07-20 11:14] #123 closed

[2022-01-14 07:16] r-brown opened #132 "Offline Licensing"

[2022-06-23 09:55] v-rudkovskiy opened #146 "Custom buttons based on 'a' tag not showing up"
**Describe the bug**
Custom buttons based on 'a' tag not showing up on tooltip

**To Reproduce**
Steps to reproduce the behavior:
1. Create button:
[code]

3. Set button to custom buttons
[code]

**Expected behavior**
Link-button displayed in tooltip.

[2022-06-23 09:57] v-rudkovskiy commented on #146
PR: https://github.com/Labs64/GuideChimp/pull/147

[2022-09-07 16:53] dmytro-shchurov opened #150 "HTML step configuration data-guidechimp-interaction boolean value does not work"
According to a standard, HTML boolean values:

[code]

Your `typeof this.currentStep.interaction === 'boolean'` does not work. I tried both: global disable + attribute enable, and global enable + attribute disable, different attribute values (empty string and attribute without a value including) with no success.

Only a global `options.interaction` works.

Browser Chrome 104.
OS Win 10

[2022-09-29 16:36] julianfelipe98 commented on #81
hello if is not assigned this issue to anyone, I would like to work on this

[2022-10-02 07:13] theonly1me commented on #14
Do you guys still need help with this? (since it's been 2 years since it was raised). If yes, I can look into it.

[2022-10-03 06:10] r-brown commented on #14
Hi @theonly1me ,
Sure, we appreciate your support!

[2022-10-06 18:01] Hermione2408 commented on #26
Hey! Can you assign this to me?

[2022-10-09 11:46] Hermione2408 commented on #26
Can you please guide me how can I use the module locally?

[2022-10-09 16:58] r-brown commented on #26
You can use one of these GuideChimp installation options (incl manual/offline installation) https://github.com/Labs64/GuideChimp/wiki/Install#4-manual-installation

[2022-10-09 16:59] r-brown commented on #26
You can use one of these GuideChimp installation options (incl manual/offline installation) https://github.com/Labs64/GuideChimp/wiki/Install#4-manual-installation